# Birth and Child Mortality in SADC countries

In [1]:
# import pandas

import pandas as pd

In [2]:
#create a dataframe from the downloaded excel file

raw_unicef_data = pd.read_excel('Unicef_data2.xlsx')
df = raw_unicef_data.copy()
df

,Time period,Unnamed: 1,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Geographic area,Indicator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,Number of births,1042.0,1069.0,1094.0,1119.0,1142.0,1164.0,1187.0,1209.0,1233.0,1257.0,1283.0
3,Angola,Infant deaths,81618.0,79043.0,76308.0,73627.0,71229.0,69089.0,67296.0,65936.0,64774.0,64019.0,63216.0
4,Angola,Child deaths (aged 1-4 years),45277.0,43077.0,40830.0,38699.0,36797.0,35080.0,33623.0,32414.0,31295.0,30424.0,29474.0
5,Botswana,Number of births,55.0,55.0,56.0,56.0,56.0,57.0,57.0,57.0,56.0,56.0,56.0
6,Botswana,Infant deaths,1238.0,1344.0,1495.0,1501.0,1603.0,1740.0,1808.0,1859.0,1825.0,1805.0,1793.0
7,Botswana,Child deaths (aged 1-4 years),663.0,558.0,539.0,563.0,484.0,437.0,509.0,599.0,636.0,604.0,527.0
8,Comoros,Number of births,24.0,24.0,25.0,25.0,25.0,26.0,26.0,26.0,26.0,27.0,27.0
9,Comoros,Infant deaths,1494.0,1483.0,1462.0,1447.0,1429.0,1407.0,1382.0,1356.0,1331.0,1303.0,1276.0
10,Comoros,Child deaths (aged 1-4 years),525.0,514.0,499.0,487.0,474.0,459.0,444.0,428.0,413.0,396.0,380.0
11,Democratic Republic of the Congo,Number of births,2827.0,2906.0,2983.0,3058.0,3131.0,3202.0,3271.0,3337.0,3403.0,3468.0,3532.0
12,Democratic Republic of the Congo,Infant deaths,237019.0,237533.0,237868.0,237830.0,237448.0,236798.0,235939.0,234373.0,232632.0,230580.0,228831.0
13,Democratic Republic of the Congo,Child deaths (aged 1-4 years),83903.0,81491.0,79268.0,77283.0,75229.0,73240.0,71180.0,68916.0,66574.0,64215.0,62028.0
14,Eswatini,Number of births,33.0,32.0,32.0,31.0,31.0,31.0,31.0,30.0,30.0,30.0,30.0
15,Eswatini,Infant deaths,1893.0,1781.0,1720.0,1659.0,1608.0,1596.0,1393.0,1330.0,1345.0,1215.0,1143.0
16,Eswatini,Child deaths (aged 1-4 years),1270.0,1029.0,748.0,585.0,516.0,469.0,417.0,461.0,539.0,444.0,325.0
17,Lesotho,Number of births,59.0,58.0,58.0,58.0,58.0,57.0,57.0,57.0,57.0,56.0,56.0
18,Lesotho,Infant deaths,4390.0,4250.0,4114.0,4125.0,4109.0,4065.0,4072.0,4084.0,4031.0,3868.0,3789.0
19,Lesotho,Child deaths (aged 1-4 years),1698.0,1441.0,1434.0,1372.0,1317.0,1310.0,1281.0,1052.0,977.0,999.0,1042.0
20,Madagascar,Number of births,735.0,746.0,757.0,769.0,782.0,796.0,811.0,827.0,843.0,860.0,876.0
21,Madagascar,Infant deaths,34866.0,34251.0,33750.0,33323.0,32987.0,32711.0,32461.0,32204.0,31955.0,31696.0,31456.0
22,Madagascar,Child deaths (aged 1-4 years),16132.0,15538.0,14981.0,14458.0,14011.0,13602.0,13200.0,12798.0,12406.0,12015.0,11654.0
23,Malawi,Number of births,582.0,586.0,589.0,592.0,594.0,597.0,600.0,606.0,612.0,621.0,630.0
24,Malawi,Infant deaths,31683.0,30773.0,28865.0,26911.0,25120.0,23450.0,22184.0,21142.0,20288.0,19665.0,19238.0
25,Malawi,Child deaths (aged 1-4 years),19081.0,17842.0,16531.0,14498.0,12260.0,10671.0,9644.0,8708.0,7925.0,7064.0,6474.0
26,Mauritius,Number of births,16.0,15.0,15.0,14.0,14.0,14.0,13.0,13.0,13.0,13.0,13.0
27,Mauritius,Infant deaths,198.0,190.0,187.0,186.0,183.0,177.0,171.0,169.0,171.0,177.0,183.0
28,Mauritius,Child deaths (aged 1-4 years),36.0,34.0,32.0,31.0,29.0,26.0,25.0,24.0,24.0,22.0,23.0
29,Mozambique,Number of births,945.0,960.0,976.0,993.0,1010.0,1029.0,1048.0,1068.0,1088.0,1110.0,1131.0
30,Mozambique,Infant deaths,67571.0,68175.0,65863.0,64655.0,64117.0,63732.0,63244.0,62665.0,61858.0,61374.0,60805.0
31,Mozambique,Child deaths (aged 1-4 years),30910.0,29523.0,29143.0,27987.0,26299.0,25369.0,23591.0,22090.0,21963.0,21553.0,20702.0
32,Namibia,Number of births,63.0,65.0,66.0,67.0,68.0,69.0,69.0,70.0,70.0,70.0,70.0
33,Namibia,Infant deaths,2330.0,2305.0,2392.0,2505.0,2438.0,2332.0,2289.0,2252.0,2207.0,2172.0,2146.0
34,Namibia,Child deaths (aged 1-4 years),829.0,799.0,830.0,900.0,883.0,906.0,967.0,929.0,873.0,838.0,808.0
35,Seychelles,Number of births,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
36,Seychelles,Infant deaths,20.0,20.0,20.0,20.0,21.0,21.0,21.0,21.0,21.0,20.0,20.0
37,Seychelles,Child deaths (aged 1-4 years),4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
38,South Africa,Number of births,1186.0,1197.0,1204.0,1207.0,1207.0,1205.0,1201.0,1196.0,1190.0,1184.0,1178.0
39,South Africa,Infant deaths,42665.0,38519.0,36445.0,35693.0,35098.0,34772.0,34130.0,33693.0,33480.0,32882.0,32341.0
40,South Africa,Child deaths (aged 1-4 years),26019.0,21128.0,16420.0,13027.0,11816.0,10914.0,10297.0,9545.0,8902.0,8618.0,8290.0
41,United Republic of Tanzania,Number of births,1757.0,1789.0,1821.0,1852.0,1884.0,1918.0,1954.0,1992.0,2031.0,2071.0,2111.0
42,United Republic of Tanzania,Infant deaths,84677.0,83265.0,81863.0,80698.0,79955.0,79274.0,78802.0,77917.0,76587.0,75417.0,74787.0
43,United Republic of Tanzania,Child deaths (aged 1-4 years),43213.0,41199.0,38787.0,36747.0,34663.0,32449.0,31271.0,30083.0,29514.0,28891.0,28435.0
44,Zambia,Number of births,555.0,564.0,573.0,581.0,588.0,595.0,602.0,610.0,619.0,629.0,641.0
45,Zambia,Infant deaths,29524.0,29009.0,28746.0,28546.0,28257.0,27869.0,27765.0,27552.0,26915.0,26866.0,26739.0
46,Zambia,Child deaths (aged 1-4 years),15646.0,14531.0,14215.0,13902.0,13331.0,12696.0,12562.0,12140.0,11987.0,11975.0,11721.0
47,Zimbabwe,Number of births,456.0,466.0,473.0,477.0,477.0,474.0,467.0,459.0,450.0,443.0,436.0
48,Zimbabwe,Infant deaths,24938.0,24585.0,24050.0,22552.0,21710.0,20871.0,20014.0,19029.0,18293.0,17413.0,16769.0
49,Zimbabwe,Child deaths (aged 1-4 years),15275.0,14584.0,13143.0,11687.0,10104.0,9418.0,9031.0,8566.0,8318.0,7692.0,7397.0

In [3]:
# create a checkpoint and drop unnecesary rows

df_dropped = df.drop([0, 1])
df_dropped.head()

,Time period,Unnamed: 1,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,Angola,Number of births,1042.0,1069.0,1094.0,1119.0,1142.0,1164.0,1187.0,1209.0,1233.0,1257.0,1283.0
3,Angola,Infant deaths,81618.0,79043.0,76308.0,73627.0,71229.0,69089.0,67296.0,65936.0,64774.0,64019.0,63216.0
4,Angola,Child deaths (aged 1-4 years),45277.0,43077.0,40830.0,38699.0,36797.0,35080.0,33623.0,32414.0,31295.0,30424.0,29474.0
5,Botswana,Number of births,55.0,55.0,56.0,56.0,56.0,57.0,57.0,57.0,56.0,56.0,56.0
6,Botswana,Infant deaths,1238.0,1344.0,1495.0,1501.0,1603.0,1740.0,1808.0,1859.0,1825.0,1805.0,1793.0

In [4]:
#get the column names

df_dropped.columns

Index(['Time period', 'Unnamed: 1', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [5]:
#rename the columns

df_dropped.columns = ['Country', 'Indicator', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009']

df_dropped.head()

,Country,Indicator,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
2,Angola,Number of births,1042.0,1069.0,1094.0,1119.0,1142.0,1164.0,1187.0,1209.0,1233.0,1257.0,1283.0
3,Angola,Infant deaths,81618.0,79043.0,76308.0,73627.0,71229.0,69089.0,67296.0,65936.0,64774.0,64019.0,63216.0
4,Angola,Child deaths (aged 1-4 years),45277.0,43077.0,40830.0,38699.0,36797.0,35080.0,33623.0,32414.0,31295.0,30424.0,29474.0
5,Botswana,Number of births,55.0,55.0,56.0,56.0,56.0,57.0,57.0,57.0,56.0,56.0,56.0
6,Botswana,Infant deaths,1238.0,1344.0,1495.0,1501.0,1603.0,1740.0,1808.0,1859.0,1825.0,1805.0,1793.0

In [6]:
#values are in the 1000s, edit dataframe to show this

value = 2
year = 2019

for value in range (df_dropped.shape[0])[2::3]:
    for year in range (2009,2020):
        df_dropped.loc[value,str(year)] = df_dropped.loc[value,str(year)]*1000 
df_dropped

,Country,Indicator,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
2,Angola,Number of births,1042000.0,1069000.0,1094000.0,1119000.0,1142000.0,1164000.0,1187000.0,1209000.0,1233000.0,1257000.0,1283000.0
3,Angola,Infant deaths,81618.0,79043.0,76308.0,73627.0,71229.0,69089.0,67296.0,65936.0,64774.0,64019.0,63216.0
4,Angola,Child deaths (aged 1-4 years),45277.0,43077.0,40830.0,38699.0,36797.0,35080.0,33623.0,32414.0,31295.0,30424.0,29474.0
5,Botswana,Number of births,55000.0,55000.0,56000.0,56000.0,56000.0,57000.0,57000.0,57000.0,56000.0,56000.0,56000.0
6,Botswana,Infant deaths,1238.0,1344.0,1495.0,1501.0,1603.0,1740.0,1808.0,1859.0,1825.0,1805.0,1793.0
7,Botswana,Child deaths (aged 1-4 years),663.0,558.0,539.0,563.0,484.0,437.0,509.0,599.0,636.0,604.0,527.0
8,Comoros,Number of births,24000.0,24000.0,25000.0,25000.0,25000.0,26000.0,26000.0,26000.0,26000.0,27000.0,27000.0
9,Comoros,Infant deaths,1494.0,1483.0,1462.0,1447.0,1429.0,1407.0,1382.0,1356.0,1331.0,1303.0,1276.0
10,Comoros,Child deaths (aged 1-4 years),525.0,514.0,499.0,487.0,474.0,459.0,444.0,428.0,413.0,396.0,380.0
11,Democratic Republic of the Congo,Number of births,2827000.0,2906000.0,2983000.0,3058000.0,3131000.0,3202000.0,3271000.0,3337000.0,3403000.0,3468000.0,3532000.0
12,Democratic Republic of the Congo,Infant deaths,237019.0,237533.0,237868.0,237830.0,237448.0,236798.0,235939.0,234373.0,232632.0,230580.0,228831.0
13,Democratic Republic of the Congo,Child deaths (aged 1-4 years),83903.0,81491.0,79268.0,77283.0,75229.0,73240.0,71180.0,68916.0,66574.0,64215.0,62028.0
14,Eswatini,Number of births,33000.0,32000.0,32000.0,31000.0,31000.0,31000.0,31000.0,30000.0,30000.0,30000.0,30000.0
15,Eswatini,Infant deaths,1893.0,1781.0,1720.0,1659.0,1608.0,1596.0,1393.0,1330.0,1345.0,1215.0,1143.0
16,Eswatini,Child deaths (aged 1-4 years),1270.0,1029.0,748.0,585.0,516.0,469.0,417.0,461.0,539.0,444.0,325.0
17,Lesotho,Number of births,59000.0,58000.0,58000.0,58000.0,58000.0,57000.0,57000.0,57000.0,57000.0,56000.0,56000.0
18,Lesotho,Infant deaths,4390.0,4250.0,4114.0,4125.0,4109.0,4065.0,4072.0,4084.0,4031.0,3868.0,3789.0
19,Lesotho,Child deaths (aged 1-4 years),1698.0,1441.0,1434.0,1372.0,1317.0,1310.0,1281.0,1052.0,977.0,999.0,1042.0
20,Madagascar,Number of births,735000.0,746000.0,757000.0,769000.0,782000.0,796000.0,811000.0,827000.0,843000.0,860000.0,876000.0
21,Madagascar,Infant deaths,34866.0,34251.0,33750.0,33323.0,32987.0,32711.0,32461.0,32204.0,31955.0,31696.0,31456.0
22,Madagascar,Child deaths (aged 1-4 years),16132.0,15538.0,14981.0,14458.0,14011.0,13602.0,13200.0,12798.0,12406.0,12015.0,11654.0
23,Malawi,Number of births,582000.0,586000.0,589000.0,592000.0,594000.0,597000.0,600000.0,606000.0,612000.0,621000.0,630000.0
24,Malawi,Infant deaths,31683.0,30773.0,28865.0,26911.0,25120.0,23450.0,22184.0,21142.0,20288.0,19665.0,19238.0
25,Malawi,Child deaths (aged 1-4 years),19081.0,17842.0,16531.0,14498.0,12260.0,10671.0,9644.0,8708.0,7925.0,7064.0,6474.0
26,Mauritius,Number of births,16000.0,15000.0,15000.0,14000.0,14000.0,14000.0,13000.0,13000.0,13000.0,13000.0,13000.0
27,Mauritius,Infant deaths,198.0,190.0,187.0,186.0,183.0,177.0,171.0,169.0,171.0,177.0,183.0
28,Mauritius,Child deaths (aged 1-4 years),36.0,34.0,32.0,31.0,29.0,26.0,25.0,24.0,24.0,22.0,23.0
29,Mozambique,Number of births,945000.0,960000.0,976000.0,993000.0,1010000.0,1029000.0,1048000.0,1068000.0,1088000.0,1110000.0,1131000.0
30,Mozambique,Infant deaths,67571.0,68175.0,65863.0,64655.0,64117.0,63732.0,63244.0,62665.0,61858.0,61374.0,60805.0
31,Mozambique,Child deaths (aged 1-4 years),30910.0,29523.0,29143.0,27987.0,26299.0,25369.0,23591.0,22090.0,21963.0,21553.0,20702.0
32,Namibia,Number of births,63000.0,65000.0,66000.0,67000.0,68000.0,69000.0,69000.0,70000.0,70000.0,70000.0,70000.0
33,Namibia,Infant deaths,2330.0,2305.0,2392.0,2505.0,2438.0,2332.0,2289.0,2252.0,2207.0,2172.0,2146.0
34,Namibia,Child deaths (aged 1-4 years),829.0,799.0,830.0,900.0,883.0,906.0,967.0,929.0,873.0,838.0,808.0
35,Seychelles,Number of births,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0
36,Seychelles,Infant deaths,20.0,20.0,20.0,20.0,21.0,21.0,21.0,21.0,21.0,20.0,20.0
37,Seychelles,Child deaths (aged 1-4 years),4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
38,South Africa,Number of births,1186000.0,1197000.0,1204000.0,1207000.0,1207000.0,1205000.0,1201000.0,1196000.0,1190000.0,1184000.0,1178000.0
39,South Africa,Infant deaths,42665.0,38519.0,36445.0,35693.0,35098.0,34772.0,34130.0,33693.0,33480.0,32882.0,32341.0
40,South Africa,Child deaths (aged 1-4 years),26019.0,21128.0,16420.0,13027.0,11816.0,10914.0,10297.0,9545.0,8902.0,8618.0,8290.0
41,United Republic of Tanzania,Number of births,1757000.0,1789000.0,1821000.0,1852000.0,1884000.0,1918000.0,1954000.0,1992000.0,2031000.0,2071000.0,2111000.0
42,United Republic of Tanzania,Infant deaths,84677.0,83265.0,81863.0,80698.0,79955.0,79274.0,78802.0,77917.0,76587.0,75417.0,74787.0
43,United Republic of Tanzania,Child deaths (aged 1-4 years),43213.0,41199.0,38787.0,36747.0,34663.0,32449.0,31271.0,30083.0,29514.0,28891.0,28435.0
44,Zambia,Number of births,555000.0,564000.0,573000.0,581000.0,588000.0,595000.0,602000.0,610000.0,619000.0,629000.0,641000.0
45,Zambia,Infant deaths,29524.0,29009.0,28746.0,28546.0,28257.0,27869.0,27765.0,27552.0,26915.0,26866.0,26739.0
46,Zambia,Child deaths (aged 1-4 years),15646.0,14531.0,14215.0,13902.0,13331.0,12696.0,12562.0,12140.0,11987.0,11975.0,11721.0
47,Zimbabwe,Number of births,456000.0,466000.0,473000.0,477000.0,477000.0,474000.0,467000.0,459000.0,450000.0,443000.0,436000.0
48,Zimbabwe,Infant deaths,24938.0,24585.0,24050.0,22552.0,21710.0,20871.0,20014.0,19029.0,18293.0,17413.0,16769.0
49,Zimbabwe,Child deaths (aged 1-4 years),15275.0,14584.0,13143.0,11687.0,10104.0,9418.0,9031.0,8566.0,8318.0,7692.0,7397.0

In [7]:
#Create a checkpoint
df_checkpoint1 = df_dropped.copy()

# Create an estimate for surviving children under 5

Create a new row with tnformation on the estimated number of children born that live until 5

In [8]:
years = df_checkpoint1.columns[2:]
survival_est=[]
countries = list(df_checkpoint1['Country'].unique())
pos = 0
indices=range(2,df_dropped.shape[0],3)


for country in countries:
    pos=countries.index(country)
    calculated = [countries[pos], 'Survival Estimate']
    
#the loop to create the angola list
    for year in years:
        n=indices[pos]
        survivors = df_checkpoint1.loc[n,str(year)]-(df_checkpoint1.loc[n+1,str(year)]+df_checkpoint1.loc[n+2,str(year)])
        calculated.append(survivors)
    survival_est.append(calculated)
survival_est

[['Angola',
  'Survival Estimate',
  915105.0,
  946880.0,
  976862.0,
  1006674.0,
  1033974.0,
  1059831.0,
  1086081.0,
  1110650.0,
  1136931.0,
  1162557.0,
  1190310.0],
 ['Botswana',
  'Survival Estimate',
  53099.0,
  53098.0,
  53966.0,
  53936.0,
  53913.0,
  54823.0,
  54683.0,
  54542.0,
  53539.0,
  53591.0,
  53680.0],
 ['Comoros',
  'Survival Estimate',
  21981.0,
  22003.0,
  23039.0,
  23066.0,
  23097.0,
  24134.0,
  24174.0,
  24216.0,
  24256.0,
  25301.0,
  25344.0],
 ['Democratic Republic of the Congo',
  'Survival Estimate',
  2506078.0,
  2586976.0,
  2665864.0,
  2742887.0,
  2818323.0,
  2891962.0,
  2963881.0,
  3033711.0,
  3103794.0,
  3173205.0,
  3241141.0],
 ['Eswatini',
  'Survival Estimate',
  29837.0,
  29190.0,
  29532.0,
  28756.0,
  28876.0,
  28935.0,
  29190.0,
  28209.0,
  28116.0,
  28341.0,
  28532.0],
 ['Lesotho',
  'Survival Estimate',
  52912.0,
  52309.0,
  52452.0,
  52503.0,
  52574.0,
  51625.0,
  51647.0,
  51864.0,
  51992.0,
  51133.0,
  51169.0],
 ['Madagascar',
  'Survival Estimate',
  684002.0,
  696211.0,
  708269.0,
  721219.0,
  735002.0,
  749687.0,
  765339.0,
  781998.0,
  798639.0,
  816289.0,
  832890.0],
 ['Malawi',
  'Survival Estimate',
  531236.0,
  537385.0,
  543604.0,
  550591.0,
  556620.0,
  562879.0,
  568172.0,
  576150.0,
  583787.0,
  594271.0,
  604288.0],
 ['Mauritius',
  'Survival Estimate',
  15766.0,
  14776.0,
  14781.0,
  13783.0,
  13788.0,
  13797.0,
  12804.0,
  12807.0,
  12805.0,
  12801.0,
  12794.0],
 ['Mozambique',
  'Survival Estimate',
  846519.0,
  862302.0,
  880994.0,
  900358.0,
  919584.0,
  939899.0,
  961165.0,
  983245.0,
  1004179.0,
  1027073.0,
  1049493.0],
 ['Namibia',
  'Survival Estimate',
  59841.0,
  61896.0,
  62778.0,
  63595.0,
  64679.0,
  65762.0,
  65744.0,
  66819.0,
  66920.0,
  66990.0,
  67046.0],
 ['Seychelles',
  'Survival Estimate',
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1976.0,
  1977.0,
  1977.0],
 ['South Africa',
  'Survival Estimate',
  1117316.0,
  1137353.0,
  1151135.0,
  1158280.0,
  1160086.0,
  1159314.0,
  1156573.0,
  1152762.0,
  1147618.0,
  1142500.0,
  1137369.0],
 ['United Republic of Tanzania',
  'Survival Estimate',
  1629110.0,
  1664536.0,
  1700350.0,
  1734555.0,
  1769382.0,
  1806277.0,
  1843927.0,
  1884000.0,
  1924899.0,
  1966692.0,
  2007778.0],
 ['Zambia',
  'Survival Estimate',
  509830.0,
  520460.0,
  530039.0,
  538552.0,
  546412.0,
  554435.0,
  561673.0,
  570308.0,
  580098.0,
  590159.0,
  602540.0],
 ['Zimbabwe',
  'Survival Estimate',
  415787.0,
  426831.0,
  435807.0,
  442761.0,
  445186.0,
  443711.0,
  437955.0,
  431405.0,
  423389.0,
  417895.0,
  411834.0]]

## Append to the dataframe

In [9]:
df_checkpoint2 = df_checkpoint1.copy()
df_checkpoint2.head()

,Country,Indicator,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
2,Angola,Number of births,1042000.0,1069000.0,1094000.0,1119000.0,1142000.0,1164000.0,1187000.0,1209000.0,1233000.0,1257000.0,1283000.0
3,Angola,Infant deaths,81618.0,79043.0,76308.0,73627.0,71229.0,69089.0,67296.0,65936.0,64774.0,64019.0,63216.0
4,Angola,Child deaths (aged 1-4 years),45277.0,43077.0,40830.0,38699.0,36797.0,35080.0,33623.0,32414.0,31295.0,30424.0,29474.0
5,Botswana,Number of births,55000.0,55000.0,56000.0,56000.0,56000.0,57000.0,57000.0,57000.0,56000.0,56000.0,56000.0
6,Botswana,Infant deaths,1238.0,1344.0,1495.0,1501.0,1603.0,1740.0,1808.0,1859.0,1825.0,1805.0,1793.0

## convert the survival_est list to a dataframe with the same column names

In [10]:
df_checkpoint2.columns

Index(['Country', 'Indicator', '2019', '2018', '2017', '2016', '2015', '2014',
       '2013', '2012', '2011', '2010', '2009'],
      dtype='object')

In [11]:
#convert the survival_est list to a dataframe with the same column names

survival_est1=pd.DataFrame(survival_est, columns = ['Country', 'Indicator', '2019', '2018', '2017', '2016', '2015', '2014',
       '2013', '2012', '2011', '2010', '2009'])
print(survival_est1.head())

                            Country          Indicator       2019       2018  \
0                            Angola  Survival Estimate   915105.0   946880.0
1                          Botswana  Survival Estimate    53099.0    53098.0
2                           Comoros  Survival Estimate    21981.0    22003.0
3  Democratic Republic of the Congo  Survival Estimate  2506078.0  2586976.0
4                          Eswatini  Survival Estimate    29837.0    29190.0

        2017       2016       2015       2014       2013       2012  \
0   976862.0  1006674.0  1033974.0  1059831.0  1086081.0  1110650.0
1    53966.0    53936.0    53913.0    54823.0    54683.0    54542.0
2    23039.0    23066.0    23097.0    24134.0    24174.0    24216.0
3  2665864.0  2742887.0  2818323.0  2891962.0  2963881.0  3033711.0
4    29532.0    28756.0    28876.0    28935.0    29190.0    28209.0

        2011       2010       2009
0  1136931.0  1162557.0  1190310.0
1    53539.0    53591.0    53680.0
2    24256.0    25301.0    25344.0
3  3103794.0  3173205.0  3241141.0
4    28116.0    28341.0    28532.0

In [12]:
df_checkpoint2=pd.concat([df_checkpoint2, survival_est1], sort= False)
df_checkpoint2.tail(20)

,Country,Indicator,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009
46,Zambia,Child deaths (aged 1-4 years),15646.0,14531.0,14215.0,13902.0,13331.0,12696.0,12562.0,12140.0,11987.0,11975.0,11721.0
47,Zimbabwe,Number of births,456000.0,466000.0,473000.0,477000.0,477000.0,474000.0,467000.0,459000.0,450000.0,443000.0,436000.0
48,Zimbabwe,Infant deaths,24938.0,24585.0,24050.0,22552.0,21710.0,20871.0,20014.0,19029.0,18293.0,17413.0,16769.0
49,Zimbabwe,Child deaths (aged 1-4 years),15275.0,14584.0,13143.0,11687.0,10104.0,9418.0,9031.0,8566.0,8318.0,7692.0,7397.0
0,Angola,Survival Estimate,915105.0,946880.0,976862.0,1006674.0,1033974.0,1059831.0,1086081.0,1110650.0,1136931.0,1162557.0,1190310.0
1,Botswana,Survival Estimate,53099.0,53098.0,53966.0,53936.0,53913.0,54823.0,54683.0,54542.0,53539.0,53591.0,53680.0
2,Comoros,Survival Estimate,21981.0,22003.0,23039.0,23066.0,23097.0,24134.0,24174.0,24216.0,24256.0,25301.0,25344.0
3,Democratic Republic of the Congo,Survival Estimate,2506078.0,2586976.0,2665864.0,2742887.0,2818323.0,2891962.0,2963881.0,3033711.0,3103794.0,3173205.0,3241141.0
4,Eswatini,Survival Estimate,29837.0,29190.0,29532.0,28756.0,28876.0,28935.0,29190.0,28209.0,28116.0,28341.0,28532.0
5,Lesotho,Survival Estimate,52912.0,52309.0,52452.0,52503.0,52574.0,51625.0,51647.0,51864.0,51992.0,51133.0,51169.0
6,Madagascar,Survival Estimate,684002.0,696211.0,708269.0,721219.0,735002.0,749687.0,765339.0,781998.0,798639.0,816289.0,832890.0
7,Malawi,Survival Estimate,531236.0,537385.0,543604.0,550591.0,556620.0,562879.0,568172.0,576150.0,583787.0,594271.0,604288.0
8,Mauritius,Survival Estimate,15766.0,14776.0,14781.0,13783.0,13788.0,13797.0,12804.0,12807.0,12805.0,12801.0,12794.0
9,Mozambique,Survival Estimate,846519.0,862302.0,880994.0,900358.0,919584.0,939899.0,961165.0,983245.0,1004179.0,1027073.0,1049493.0
10,Namibia,Survival Estimate,59841.0,61896.0,62778.0,63595.0,64679.0,65762.0,65744.0,66819.0,66920.0,66990.0,67046.0
11,Seychelles,Survival Estimate,1976.0,1976.0,1976.0,1976.0,1976.0,1976.0,1976.0,1976.0,1976.0,1977.0,1977.0
12,South Africa,Survival Estimate,1117316.0,1137353.0,1151135.0,1158280.0,1160086.0,1159314.0,1156573.0,1152762.0,1147618.0,1142500.0,1137369.0
13,United Republic of Tanzania,Survival Estimate,1629110.0,1664536.0,1700350.0,1734555.0,1769382.0,1806277.0,1843927.0,1884000.0,1924899.0,1966692.0,2007778.0
14,Zambia,Survival Estimate,509830.0,520460.0,530039.0,538552.0,546412.0,554435.0,561673.0,570308.0,580098.0,590159.0,602540.0
15,Zimbabwe,Survival Estimate,415787.0,426831.0,435807.0,442761.0,445186.0,443711.0,437955.0,431405.0,423389.0,417895.0,411834.0

In [13]:
#save to CSV

df_checkpoint2.to_csv('sadc-cleaned.csv', index = False)